/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/


/*
.just_an_example {
	color: black;
}
*/

#buddypress .group-identifier {
	margin-bottom: 0;
	opacity: .6;
	line-height: .8;
	color: #ffffff;
	padding: 10px 0 0 0;
}

#buddypress #item-buttons.group {
	display: block !important;
	width: 60%;
}

#buddypress #item-buttons.group #main-button {
	float: right;
	margin-left: 10px;
}

#buddypress #item-buttons #main-button div.generic-button a.external-link {
	background-image: url('../images/external-link.png');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px;
	padding: 11px 40px 10px 10px !important;

}

#buddypress p.group-input-descritpion {
	margin: -10px 0 10px 0 !important;
}

#buddypress .topic-post {
	font-weight: 800;
	font-size: 12px;
	background-color: #428bca;
	padding: 7px 20px;
	border-radius: 4px;
	display: inline-block;
	float: right;
	text-transform: uppercase;
}

#buddypress .topic-post a {
	color: #fff;
}

#buddypress #bbpress-forums fieldset.bbp-form .topic-post {
	display: none;
}

#buddypress h1.main-title {
	font-size: 35px;
}

#buddypress .profile-fields .data-item {
	padding: 10px 0;
	border-bottom: 1px solid #efefef;
}

#buddypress .profile-fields .data .data-item:last-child {
	border-bottom: none;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/

}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */


@media screen and (max-width: 1000px) {


	/*
	.just_an_example {
		color: black;
	}
	*/

	.left-menu-open div#group-name h1 {
		font-size: 22px !important;
	}


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */


/* Cam's CSS overrides */

.document-footer {
	padding: 10px 0;
}

body.documents .document-info {
	width: 100%;
}

body.documents a#doc-delete-link {
	text-align: right;
	display: block;
	text-transform: capitalize;
	padding: 10px;
	width: 46px;
	text-align: center;
	border: 1px solid #ccc;
	margin-left: 70px;
	border-radius: 4px;
}

body.documents .single-doc-loop {
	padding: 0 70px;
}

body.documents .doc-item-meta li {
	margin-left: 0 !important;
}

.document-item a.line-button {
	float: none !important;
}

.document-download-link:before {
	content: "\f019";
	font-family: FontAwesome;
	padding-right: 5px;
}

.activity-header .button:before {
	content: "\f093";
	font-family: FontAwesome;
	padding-right: 5px;
}

.group-subscription-options {
	padding: 15px;
	border: 1px solid #ffcccc;
}

.group-subscription-options a {
	font-weight: bold;
}

a.group-sub:hover {
	cursor: pointer !important;
}

.bbp-topic-form, .bbp-reply-form {
	border-top: 2px solid #ddd;
}

#rbe-header {
	padding: 10px;
	background-color: #fafdeb;
	border-bottom: 2px solid #666;
	margin-bottom: 40px;
}

#rbe-header:before {
	content: "\f0e0";
	font-family: FontAwesome;
	padding-right: 5px;
	float: left;
}

.bbp-form label {
	font-weight: 700;
	font-size: 24px;
}

#primary #friend-list li .item, #primary #members-stream li .item, #primary #members-list li .item {
    width: 100%;
}

#connect-header {
	padding: 40px;
	border-bottom: 1px solid #ccc;
}

#connect-header span {
	margin-top: 15px;
	display: inline-block;
}

.activity-type-tabs h3 {
	margin-bottom: 10px;
}

.activity-type-tabs {
	padding: 40px;
}

.activity-type-tabs li {
	padding: 10px 15px;
	float: left;
	border-color: #428bca !important;
	color: #88b9e0 !important;
	border-radius: 4px;
}

.activity-type-tabs li {
	margin-right: 10px;
	background-color: #efefef !important;
	font-weight: bold;
	text-transform: uppercase;
}

.activity-type-tabs .selected {
	background-color: #88b9e0 !important;
}

.choosen-wrap {
	border-bottom: 1px solid #666;
}

.choosen-wrap li {
	float: left;
}

#activity-stream {
	padding-left: 35px;
	padding-right: 35px;
}

#buddypress #activity-stream li {
	margin: 20px 0;
	padding: 20px 0 !important;
	border-top: 1px dotted #ccc !important;
}

#secondary {
	background-color: #efefef;
}

.notice {
	background-color: #339933;
	padding: 40px 20px 20px 20px;
}

.notice .connect-widget-inner p, .notice .connect-widget-inner h4 {
	color: #ffffff !important;
}

.stats {
	background-color: #939598;
	padding: 20px;
	color: #ffffff !important;
}

.connect-widget {
	padding: 20px;
}

.members .vcard {
	padding: 10px 0;
	clear: both;
}

.members .vcard .item {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 10px 0;
}

.members .item-avatar {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 3px solid #fff;
	background-color: #fff;
}

.members .item-title a {
	font-weight: bold;
}

.members .item-meta {
	margin-bottom: 10px;
}

.members .item .activity {
	font-size: 12px;
}

body.bp-user.documents header {
	border-bottom: none;
}

#header-menu > ul > li.current-menu-item > a:not(.open-submenu):before {
	color: #444 !important;
}

body.documents #docs-dir-list {
    margin-right: 320px;
	padding-left: 0;
}

body.documents #dir-list-docs-sidebar {
	width: 320px;
}

body.documents #dir-facets-inner {
	padding: 20px;
}

h3.facet-label {
	background-color: #eee;
	padding: 5px;
}

body.documents:not(.bp-user) .document-list-tabs ul li a {
	color: #428bca;
}

div.bbp-template-notice {
	margin: 15px 70px;
	background-color: #fdb913;
}

p.no-content:before {
	content: "\f071";
	font-family: FontAwesome;
	padding-right: 5px;
}

.no-content {
	background-color: #fdb913;
	color: #fff;
	padding: 10px !important;
	border-radius: 4px;
}

div.indicator-hint {
	background-color: #fdb913;
}

.my-activity-header {
    margin: 20px 0 0 35px;
}

#buddypress #message.info, div#sitewide-notice #message.info {
	margin: 15px 40px;
}

.edit-profile-box {
	background-color: #ffffcc;
	padding: 10px;
	border-radius: 4px;
}

.edit-profile-box a {
	text-decoration: underline;
}

.edit-profile-box:before {
	content: "\f044";
	font-family: FontAwesome;
	padding-right: 5px;
}

.bbp-forum-details .bbp-forum-data {
	float: left;
	text-align: left;
}

.facetwp-checkbox {
	background: url(../images/checkbox.png) 0px 2px no-repeat;
	margin-bottom: 5px;
	vertical-align: top;
	border-bottom: 1px dotted #ccc;
	padding: 4px 2px 4px 5px;
	margin-top: 5px;
	margin-left: 4px;
	font-size: 12px;
}

#crosspost-div div {
	padding: 5px 0;
	margin-bottom: 5px;
	background-color: #ffc;
}

.facetwp-toggle {
	padding-left: 13px;
	font-size: 12px;
}

.facetwp-toggle:before {
	content: "\f101";
	font-family: FontAwesome;
	padding-right: 5px;
}

body.documents:not(.bp-user) .document-list-tabs ul li {
	border-color: #428bca !important;
	color: #428bca !important;
}

body.documents:not(.bp-user) .document-list-tabs ul li.selected {
	background-color: #88b9e0 !important;
}

.item-stats {
	font-weight: bold;
	font-size: 18px;
}

.connect-widget li span.stat {
	display: inline-block;
	width: 80px;
	text-align: right;
	color: #cccc66;
}

.sidebar-btn.fa {
	color: #999 !important;
}

#header-search {
	display: none;
}

#primary #members-group-list #members-list li .item {
	width: 100%;
}

.members-stat {
	display: none;
}

#buddypress table.profile-fields tr td,
#buddypress table.profile-fields tr th,
#buddypress table.profile-fields tr td.label,
#buddypress .profile-fields .data-item,
#buddypress table.wp-profile-fields, #buddypress table.profile-fields {
	border: none;
	vertical-align: top;
}

#buddypress .profile-fields .data-item {
	padding-top: 0 !important;
}

#buddypress table tr td.label {
	white-space: nowrap;
	font-weight: bold;
	width: auto;
	padding-left: 1px !important;
}

body.documents li.document-item:not(:last-child) {
	border: none !important;
}

#buddypress #activity-stream .doc-item-meta li {
	margin: 0 !important;
	padding: 0 !important;
	border-top: none !important;
	font-size: 12px;
	color: #ababab;
}

.docs-meta-label {
	display: inline-block;
	width: 120px;
}

#buddypress .group-identifier {
	clear: both;
}

#members-all span {
	display: none;
}

#buddypress #members-list li {
	padding: 10px 0;
}

.scroll-wrapper {
	overflow-y: scroll !important;
	height: 80px;
}

.checkbox-wrap {
	display: inline-block;
	border-radius: 4px;
}

.subject-check .group-name,
.group-check .group-name,
.type-check .group-name {
	margin-left: 5px;
}

.upload-form label {
	font-weight: 700;
	font-size: 14px;
}

#bbpress-forums fieldset.bbp-form legend {
    width: 100%;
    word-break: break-all;
    font-size: 24px;
    text-transform: unset;
    font-weight: 700;
    padding: 10px 0 !important;
}

#crosspost-div {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px;
}

#crosspost-show-more:before {
	content: "\f101";
	font-family: FontAwesome;
	padding-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
}

.group-subscription-close:before {
	content: "\f00d";
	font-family: FontAwesome;
	padding-right: 5px;
}

.logged-out-notice {
	padding: 20px;
}
